services:
  mongodb:
    image: mongo:latest
    container_name: bookstore_db_container
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  api:
    build: .
    image: hossamgezo/bookstore-api:v2
    container_name: bookstore_api_container
    ports:
      - "5001:5001"
    env_file:
      - ".env"
    depends_on:
      - mongodb

volumes:
  mongo-data:
