<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/output.css" rel="stylesheet">
  <title>Forgot Password</title>
</head>

<body class="bg-gray-100 flex justify-center items-center h-screen">
  <div class="bg-white rounded-lg p-8 w-85 sm:w-96 shadow-md">
    <h1 class="text-2xl font-bold mb-4">
      Email Sent
    </h1>
    <p class="text-lg font-medium text-blue-500">Link has been send to your email, please check it</p>
  </div>
</body>

</html>