<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/styles/output.css" rel="stylesheet">
  <title>Forgot Password</title>
</head>

<body class="bg-gray-100 flex justify-center items-center h-screen">
  <div class="bg-green-500 text-white font-bold text-shadow-2xs p-2.5 w-85 h-42.5 sm:w-96 sm:h-48 rounded-lg flex items-center justify-center text-lg shadow-2xl text-center">
    You Successfully changed Your Password please login 🎉
  </div>
</body>

</html>